.footer{
  background-color:#004aad;
  font-style:normal;
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
position: relative;
 width: 100%;
height: 100%;
text-align: center;
align-items:flex-start;

}

.footer_titulo{
  font-size: 15px;
}
.bi-facebook{
  font-size: 2rem;
  }
  .bi-instagram{
    font-size: 2rem;
  }
  .footer{
    background-color:#004aad;
    font-style:normal;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
  position: relative;
   width: 100%;
  height: 100%;
  text-align: center;
  align-items:flex-start;
  
  }
  
  .footer_titulo{
    font-size: 15px;
  }